/* Custom properties/variables  */
:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #1f3a77;
    --main-gray: #303841;
    --main-pink: #eeb5bc;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

#navbar {
    width: 100%;
    background: var(--main-red);
    position: fixed;
    padding: 20px;
}

header {
    height: 100vh;
    width: 100%;
    background-image: url(./img/lum3n--RBuQ2PK_L8-unsplash.jpg);
    background-size: cover;
    background-position: center center;
}

header {
    color: var(--main-white);
}

header h1 {
    font-size: 80px;
}

header p {
    font-size: 40px;
}

#projects {
    height: 80vh;
    color: var(--main-pink);
    margin-top: 20px;
}

.NavbarCostume {
    background-color: var(--main-red);
}

.NavItemCos{
    color: var(--main-white);
}

#navbar ul {
    list-style: none;
}

#navbar li {
    font-size: 1em;
    text-align: left;
    text-justify: var(--main-white);
}

#welcome-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-section{
    display: grid;
    text-align: center;
    position: relative;
    z-index: -1;
    grid-auto-columns: auto-fill;
}

#cards {
    position: relative;
    top: 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 20px;
    grid-gap: 20px;
    width: 100%;
    max-width: 900px;
    z-index: -1;
}

.cardMod {
    height: 18rem;
}


#Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40vh;
    width: 100%;
    padding: 0 2rem;
    background-color: var(--main-pink);
    color: var(--main-white);
}

#Contact-Header{
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
}

.social-ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.social-ul i {
    color: var(--main-blue);
    font-size: 30px;
    margin: 0 20px;

}

footer {
    background-color: var(--main-red);
    color: var(--main-white);
    padding: 10px;
    text-align: center;
}


@media only screen and (max-width: 800px) {

    header h1 {
        font-size: 50px;
    }

    #cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #Contact {
        display: flex;
        flex-direction: row;
    }

    #last {
        margin-top: 300px; /*change this for put more cards, it still not responsive enough*/
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 375px) {
    #last {
        margin-top: 700px;
    }
}

@media only screen and (max-width: 360px) {
    #last {
        margin-top: 760px;
    }
}

