/* Custom properties/variables  */
:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.nav {
    /* width: 100%; */
    background: var(--main-red);
    /* position: fixed; */
    /* box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4); */
}

.NavbarCostume {
    background-color: var(--main-red);
}

.NavItemCos{
    color: var(--main-white);
}

#navbar ul {
    list-style: none;
}

#navbar li {
    font-size: 1em;
    text-align: left;
    text-justify: var(--main-white);
}

#welcome-section{
    text-align: center;
}